blinker==1.9.0
click==8.3.1
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
llama-cpp-python==0.3.35; sys_platform != "win32"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.38-cu130-Basic-win-20260504/llama_cpp_python-0.3.38+cu130.basic-cp312-cp312-win_amd64.whl#sha256=9a18ff39c4d2d00123cbcae5cf1b5766470551548f35aa80d48e6cb41ea9bcbd ; sys_platform == "win32" and python_version == "3.12"
MarkupSafe==3.0.3
pillow==12.3.0
Werkzeug==3.1.8
